@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: rgb(2, 0, 36);
    background: linear-gradient(to top, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 140, 1) 0%, rgba(0, 212, 255, 1) 50%);
}

header {
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 300%;
}

nav {
    display: flex;
}

.nav__links {
    text-decoration: none;
    justify-content: space-between;
    margin-right: 20px;
    font-size: 150%;
    color: black;
}

#about {
    margin-top: 50px;
    margin-left: 25%;
    padding: 20px;
    max-width: 40%;
    font-size: 115%;
    background-image: url(img/c885d6b9c869b78ff9713f9416b593f7.jpg);
    background-position: center;
    border-radius: 50px;
    font-size: 130%;
    color: aliceblue;
    border: 2px solid black;
}

.currency__spisok-text {
    text-decoration: none;
    font-style: italic;
    color: black;
}

#tarifs {
    margin-top: 50px;
    margin-left: 25%;
    padding: 20px;
    max-width: 40%;
    font-size: 115%;
    background-color:#ebb0ff;
    border-radius: 50px;
    font-size: 130%;
    border: 2px solid black;
}

table{
    border-spacing: 20px;
    border-collapse: separate;
}

td {
	text-align: center;
}

.tarif_type{
    font-size: 125%;
    color: black;
}

.polls {
    margin-left: 33%;
    color: black;
}

#video {
    margin-top: 50px;
    margin-left: 25%;
    padding: 20px;
    max-width: 40%;
    font-size: 115%;
    background-color: #d768fc;
    border-radius: 50px;
    font-size: 130%;
    border: 2px solid black;
}

.video__yt {
    text-align: center;
}

footer{
    margin-top: 20px;
    background-color: #ebb0ff;
}

#contacts {
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-text {
    font-style: italic;
}
