@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    max-width: 100%;
    max-height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-image: url(../img/maxresdefault.jpg);
    background-size: 100%;
    background-position: center -50px;
    color: aliceblue;
}

header {
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 300%;
}

nav {
    display: flex;
}

.nav__links {
    text-decoration: none;
    justify-content: space-between;
    margin-right: 20px;
    font-size: 150%;
    color: aliceblue;
}

#info {
    margin-left: 6%;
    padding: 20px;
    max-width: 36%;
    border-radius: 50px;
    font-size: 150%;
    color: aliceblue; 
}
